html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}
  
body {
  margin: auto;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 26px;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 15px 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0 20px 0;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 10px;
  color: black;
}

p {
  font-size: 12px;
  width: 75%;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

/* Medium */
@media (min-width: 768px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    width: 80%;
  }
}

/* Large */
@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
    margin: 0 0 30px 0;
  }

  h3 {
    font-size: 22px
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
    width: 100%;
  }
}

/* Buttons */
.button-one {
  border: none;
  background-color: #428f60;
  border-radius: 2px;
  color: #fcfcfc;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 30px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin: 15px;
}

.button-two {
  border: 1px solid #fcfcfc;
  background-color: transparent;
  border-radius: 2px;
  color: #fcfcfc;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 30px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

.button-footer {
  border: none;
  background-color: #428f60;
  border-radius: 2px;
  color: #fcfcfc;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  padding: 7px 15px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  white-space: nowrap;
}

.button-one:hover,
.button-two:hover {
  transform: scale(1.02, 1.02);
}

/* Large */
@media (min-width: 1024px) {
  .button-one,
  .button-two,
  .button-footer {
    font-size: 20px;
  }
  .button-footer {
    padding: 10px 30px;
  }
}

/* Navigation bar */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #449bb5;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  z-index: 100;
}

@media (min-width: 768px) {
  .navbar {
    height: 70px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    height: 80px;
  }
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 0 0 5px;
  font-size: 12px;
  padding: 25px 7px;
}

@media (min-width: 768px) {
  nav a {
    font-size: 14px;
    padding: 27px 10px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  nav a {
    font-size: 18px;
    padding: 30px 15px;
    margin: 0;
  }
}

nav a:hover {
  background-color: #043d5d;
}

.navbar-name {
  margin: 0 auto 0 0;
}
  
/* Flexbox control for sections */
.sections-container {
  display: flex;
  flex-direction: column;
  background-color: #043d5d;
  color: #fcfcfc;
}

.sections {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* About section */
#welcome-section {
  padding-top: 70px;
}

.about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Projects section */
#projects {
  padding-top: 20vh;
}
  
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.projects-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
}

.project-tile {
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: black;
  color: black;
  margin: 20px 0 0 0;
  width: 200px;
}

@media (min-width: 768px) {
  .project-tile {
    width: 180px;
  }
}

@media (min-width: 1024px) {
  .project-tile {
    width: 286px;
  }
}

.project-tile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.project-tile img {
  border-radius: 4px 4px 0 0;
  background-color: black;
  max-width: 100%;
  display: block;
  height: auto;
}

.project-tile-text {
  height: 140px;
  background-color: white;
  border-radius: 0 0 4px 4px;
}

.project-tile-text p {
  color: #515151;
  margin: 10px;
  font-weight: 400;
  text-align: left;
}

@media (min-width: 768px) {
  .project-tile-text p {
    font-size: 14px;
    width: auto;
  }
}

@media (min-width: 1024px) {
  .project-tile-text p {
    font-size: 16px;
    width: auto;
  }
}

.coming-soon {
  height: 215px;
  width: 286px;
  background-color: black;
  border-radius: 4px;
}

.coming-soon p {
  display: inline-block;
  text-align: center;
  margin: 77px 0 0 28px;
  padding: 10px;
  font-size: 30px;
  border: 3px white solid;
  color: white;
  transform: rotate(-35deg);
}

/* Skills section */
#skills {
  padding-top: 80px;
}

.skills-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Profile link */
.profile-links {
  text-decoration: none;
  font-size: 16px;
  color: white;
  margin: 0;
}

/* Large */
@media (min-width: 1024px) {
.profile-links{
    font-size: 20px;
  }
}

/* Footer */
footer {
  height: 10%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #449bb5;
  padding: 0;
  margin: 0;
}

footer p {
  width: auto;
}

footer .button-one {
  margin: 0 15px;
}