/* global.scss - start */


/* global import - start */

@import '_dependencies/_normalize';

@import '_custom/_flexbox.scss';
@import '_custom/_variables.scss';

/* - global import - end */

/* global styles - start */

html {
    scroll-behavior: smooth;
    font-size: 18px;
    font-weight: 300;
    color: $color-white;
  }
    
  body {
    font-family: $font-primary;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: $color-secondary;
    color: $color-white;
  }

  li {
    list-style: none;
    color: $color-white;
  }

  .border {
    border: 5px yellow solid;
  }
/* global styles - end */


/* custom import - start */

@import '_custom/_elements.scss';
@import '_custom/_structures.scss';

/* custom import - end */


/* global.scss - end */
