.button {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 28px;
  cursor: pointer;
  color: #ffffff;
  border: 2px solid $color-green;
  border-radius: 1000px;
  transition: ease 0.3s;
}

.button:hover {
  background-color: $color-primary;
  transform: scale(1.075);
}

.button--one {
  background-color: $color-green;
  margin: 15px;
}

.button--two {
  border: 1px solid $color-white;
  background-color: $color-secondary;
  margin: 10px;
}

.button--footer {
  background-color: $color-green;
  padding: 7px 15px;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .button {
    font-size: 20px;
  }
  .button--footer {
    padding: 10px 30px;
  }
}