.project-tile {
    position: relative;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    justify-content: center;
    width: 200px;
    height: 160px;
    border-radius: 8px;
    background-color: $color-black;
    margin: 20px 0;

    img,
    .coming-soon {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 8px;
    }
  }

  @media (min-width: 768px) {
    .project-tile {
      width: 250px;
      height: 200px;
    }
  }
  
  @media (min-width: 1024px) {
    .project-tile {
      width: 300px;
      height: 240px;
    }
  }

  .project-tile--green {
    background-color: #08731C;
  }

  .project-tile--purple {
    background-color: #4F1699;
  }

  .project-tile--orange {
    background-color: #D38C10;
  }


  .project-tile__overlay {
    position: absolute;
    opacity: 0;
    color: black;
    transition: .7s ease;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .project-tile:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;

    .project-tile__overlay {
      opacity: 1;
    }

    img {
      opacity: 0;
    }

    .coming-soon {
      opacity: 0;
    }
  }

  .project-tile-text {
    position: absolute;
    color: $color-white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    width: 80%;
  }

  @media (min-width: 768px) {
    .project-tile-text {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    .project-tile-text {
      font-size: 20px;
    }
  }

  .coming-soon p {
      display: inline-block;
      text-align: center;
      margin: 57px 0 0 12px;
      padding: 10px;
      font-size: 22px;
      border: 3px $color-white solid;
      border-radius: 8px;
      color: $color-white;
      transform: rotate(-35deg);
    }

  @media (min-width: 768px) {
    .coming-soon p {
      margin: 72px 0 0 12px;
      font-size: 22px;
    }
  }
  
  @media (min-width: 1024px) {
    .coming-soon p {
      margin: 88px 0 0 -14px;
      font-size: 30px;
    }
  } 