/* font variables start */
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', sans-serif;

/* font variables end */


/* colour variables start */
$color-white: #FFF;
$color-black: #000;

$color-dark-blue: #043d5d;
$color-light-blue: #449bb5;

$color-green: #428f60;
$color-green-hover: #3b8056;

$color-primary: $color-dark-blue;
$color-secondary: $color-light-blue;
$color-tertiary: $color-green;

/* colour variables start */