.footer {
    width: 100%;
    text-align: center;
    background-color: $color-primary;
    margin: 0;
    padding-top: 5%;
  }
  
  .footer__contact {
    border-radius: 8px;
    width: 80%;
    height: 30vh;
    margin: 20px;
    margin-bottom: -15vh;
  }
  
  .contact__text {
    width: auto;
  }
  
  .footer .button-one {
    margin: 0 15px;
  }
  
  .footer__links {
    margin: 3%;
  }

  .footer__link {
    padding: 4px;
  }

  .footer__name {
    width: 100%;
    background-color: $color-black;
    opacity: 0.5;
    padding: 3%;
    margin: 0;
  }