.footer {
    height: 60vh;
    width: 100%;
    background-color: $color-primary;
    margin: 0;
    padding-top: 5%;
  }

  .footer__container {
    width: 80%;
    height: 83%;
    margin: 0 5% 5% 5%;
  }
  
  .footer__contact {
    border-radius: 8px;
    width: 60%;
  }
  
  .footer .button-one {
    margin: 0 15px;
  }
  
  .footer__links {
    width: 25%;
  }

  .footer__link {
    padding: 4px;
  }

  .footer__name {
    width: 94%;
    background-color: $color-tertiary;
    color: $color-grey;
    padding: 3%;
    margin: 0;
    text-align: center;
  }