.section {
    width: 100%;
  }
  
  /* welcome section */
  .section__welcome {
    height: 130vh;
    background-color: $color-primary;
  }
  
  .welcome__title {
    padding-top: 70px;
  }
  
  .welcome {
    margin-top: -30vh;
  }